/* The outermost element*/
.header-wrapper {
  overflow: hidden;
}

.zoominheader img {
  /* width: 100%;
            height:  100vh; */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 30s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* NAVBAR ANIMATION  */
.navbar-nav a.nav-link {
  font-family: "Roboto", sans-serif;
  /* text-transform: uppercase; */
  color: #ffffff;
}



ul.navbar-nav .nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navbar-nav .nav-item:hover:after {
  width: 100%;
  background: #2fec00;
}